body {
  border: 1rem solid black;
}
.formsideeach {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;

 
}
.para {
  font-size: 30px;
}
.form {
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 3rem;
  width: 40%;
  height: auto;
  text-align: left;
  font-size: 1rem;
  font-size: bold;
  background-color: black;
  border: 1px solid #73D6F3 ;
  border-radius: 1rem;
  color: whitesmoke;
  margin-bottom: 5rem;

}
.heading {

  padding-right: 4rem;
  padding-left: 3rem;
  width: 50%;
  font-size: 3rem;
  color: white;
  font-family: purisa;

}
#streetaddress,#email,#Payment {
  width: 100%;
 
}
#city, #state, #zipcode, #month, #year, #securitycode, #firstname, #lastname {
  width:80%;
  
}

select {
  margin-right: 20px;
  
  border: none;
  border-bottom: 1px solid #73D6F3 ;
  width: 80%;
  border-right: #73D6F3;
  background: none;
  padding: 1rem;
}

input {
  margin-right: 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #73D6F3 ;
  width: 80%;
  padding: 1rem;
}
option {
  margin-right: 1rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
}

.eachitem {
  margin-top: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.para2 {
  display: flex;
  width: 80%;
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.mainContainer {
  display: flex;
  width: 100%;
  padding-top: 4rem ;
  background-image: url("/Donation/assets/assets/donation/annie-spratt-427340-unsplash@2x.png");
  background-size: cover;
}


.head {
  height: 15%;
  font-size: 2rem;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.foot {
  height: 20%;
  font-size: 2rem;
  text-align: center;
}
.button1 {
  background: transparent;
  border: none;
  color: whitesmoke;
  text-decoration: underline;
  font-size: 1.5rem;
}
.button2 {
  background-color: #73D6F3;
  width: 40%;
  border-radius: 20px;
  height: 40px;
  font-size: 30px;

}


.footcontainer {
  display: flex;
  justify-content: space-around;
}


@media (max-width: 768px) {
  .footcontainer {
    display: flex;
    justify-content: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .padd {
    margin: 30px;
  }
  .heading {
    order: 1;
    height: max-content;
    
    font-size: 30px;
    margin: auto;
  }
  .form {
    order: 2;
    height: 60%;
    width: 60%;
    
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head {
    font-size: 30px;
  }
  
}

@media (max-width: 576px) {
  .footcontainer {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
 }
 .padd {
  width: 50%; 
   
 }
 .heading {
   order: 1;
   width: 80%;
   font-size: 20px;
  
 }
 .form {
   order: 2;
   width: 70%;
   height: fit-content;
 }
 .mainContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: max-content;
   flex-shrink: 1;
   background-image: url("/Donation/assets/assets/donation/annie-spratt-427340-unsplash.png");

 }
 .buttons {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
 }
 .button1 {
     order: 2;
    
 }
 .button2 {
     order: 1;
     width: 80%;
     margin-bottom: 20px;
     font-size: 15px;
 }
 .formsideeach{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 }
 #month, #year {
  width: 60%;
 }
}
