.mainhead{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.headanchors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
}
.donatebutton {
    width: 50%;
    background-color: aqua;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
}
.header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.issuecontainer {
    background-image: url(/images/annie-spratt-135307-unsplash@3x.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.issuecontainer-issueselement {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 5%;
    padding: 5%;
}
.issuecontainer-issueheading {
    width: auto;
    background-color: black;
    color: aliceblue;
    position: relative;
    transform: translate(0%, -220%);
    padding: 5px 20px 5px 20px;
}
.takeaction-container{
    background-color: aqua;
    text-align: left;
    border-top: 1px solid transparent;

}
.takeaction-container-heading {
    width: max-content;
    background-color: black;
    color: aliceblue;
    position: relative;
    transform: translate(100%, -100%);
    padding: 5px 20px 5px 20px;
}

.contentcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.content {
    width: 30%;

}
.whatwedo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
}
.whatwedo-container-mainheading {
    padding-bottom: 4rem;
    width: 70%;
}

.whatwedo-container-bottomelement {
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    color: black;
    margin-bottom: 10%;
    padding-bottom: 5%;

}
.whatwedo-container-image {
    width: 70%;
    position: relative;
    transform: translate(0%, -10%);
}
.whatwedo-container-button {
    background-color: aqua;
    border-radius: 20px;
    border: none;
    padding: 10px;

}
.whatwedo-container-heading {
    transform: translate(-100%, -100%);
    width: max-content;
    background-color: aliceblue;
    color: black;
    position: relative;
    transform: translate(-00%, 00%);
    padding: 5px 20px 5px 0px;
}
.did-you-know-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("/images/did-you-know-background@3x.png");
    background-size: cover;
}
.did-you-know-container-climatechange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.did-you-know-container-maincontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.did-you-know-container-maincontainer-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
    width: 120%;
    padding: 30px;
    margin-bottom: 10%;
}
.did-you-know-container-heading {
    transform: translate(0%, 80%);
    font-size: medium;
}
.stories-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}
.stories-container-img {
    width: 60%;
    margin-bottom: 10%;
}
.stories-container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60%;
    background-color: black;
    color: aliceblue;
    margin-bottom: 10%;
}
.stories-container-heading {
    transform: translate(0%, 100%);
    font-size: medium;
    width: max-content  ;
}
.lets-take-action-container {
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.lets-take-action-container-ele {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 70%;
    text-align: left;
    padding: 5%;
}
.lets-take-action-container-element-img {
    width: 100%;    
}

.subscribe-container {
    background-color: aqua;
    border-top: 1px solid transparent;
    padding: 10px 30px 10px 30px;
    text-align: center;
}
.subscribe-container-input-button-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.subscribe-container-button {
    background-color: cornflowerblue;
}
.footcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
input {
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}
.footer-elements {
    width: 40%;
    padding: 5%;

}

@media screen and (min-width:700px) and (max-width:2000px) {
    .header1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 80%;
    }
    .mainhead {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .headanchors {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
    }
    .donatebutton {
        width:auto;
        padding: 5px;
        border-radius: 50px;
        height: 2rem;
        text-decoration: none;
    }
    .mainheading {
        font-size: 40px;
        width: auto;
    }
    header {
        height: auto;
        padding-left: 5%;
        padding-right: 10%;
        
    }
    .issuecontainer {
        background-image: url("/images/annie-spratt-135307-unsplash@3x.png");
        background-size: cover;
        height:auto;
        padding: 10rem;
        display: flex;
        flex-direction: row;
        border: none; 
        
    }
    .issuecontainer-container {
        height: auto;
        width: auto;
        padding-left: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 50px;
    }
    .issuecontainer-mainheading {
        font-size:1.7rem;
        width: 60%;
        height: auto;
    }
    .issuecontainer-issueheading {
        width: auto;
        text-align: center;
        height: auto;
        margin: auto;
        position: relative;
        transform: translate(-300%, -320%);
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .issuecontainer-heading {
        width: 20rem;
        font-size: 3rem;
        margin-left: 5rem;
    }
    .takeaction-container-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .takeaction-container {
        height: auto;
        border: none;
        padding-left: 10rem;
        padding-right: 10rem;
        
    }
    .contentcontainer {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.2rem;
    }
    .takeaction-container-heading {
        width:max-content;
        background-color: black;
        text-align: center;
        height: auto;
        margin: auto;
        transform: translate(-10%, -60%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .whatwedo-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5vw;
        height: fit-content;
        height: auto;
        
    
    }
    .whatwedo-container-heading {
        width: 10rem;
        height: 1.2rem;

    }
    .whatwedo-container-mainheading {
        font-size: 4rem;
        margin: auto;
        width: 90%;
        font-family: 'Times New Roman', Times, serif;
        padding-bottom: 10rem;
    }
    .whatwedo-container-bottomcontainer {
        display: flex;
        justify-content: space-between;
        height: auto;
        margin-bottom: 5rem;
    }
    .whatwedo-container-bottomelement {
        padding:1vw;
        width: 20%;
        height: auto;
    }
    .whatwedo-container-image {
        height: 30rem;
        width: 135%;
        position: relative;
        transform: translate(0%, -30%);
    }
    .whatwedo-container-elementheading {
        font-size: 30px;
    }
    .did-you-know-container {
        display: flex;
        flex-direction: row;
        padding: 5vw ;
        background-image: url("/images/did-you-know-background@3x.png");
        background-size: cover;
       
    }
    .did-you-know-container-climatechange {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start;
    }
    .did-you-know-container-mainheading {
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
        color: aliceblue;
        padding-bottom: 5rem;
    }
    .did-you-know-container-mainbutton {
        background-color: aqua;
        height: auto;
        width: auto;
        border-radius: 3rem;
        border: none;
        border-left: 10vw;
    }
    .did-you-know-container-maincontainer-elements {
        background-color: aliceblue;
        height: auto;
        display: flex;
        padding: 2rem;
        
        width: 80%;
        margin-bottom: 10%;
    }
    .did-you-know-container-heading {
        width: max-content;
        font-size: medium;
        text-align: center;
        height: auto;
        margin: auto;
        transform: translate(-0%, 40%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .did-you-know-container-maincontainer-element {
        width: 40%;
    }
    .did-you-know-container-maincontainer-elementhead {
        font-size: 2.5rem;
    }
    .did-you-know-container-maincontainer-elementpara {
        font-size: 1.2rem;
    }
    .did-you-know-container-maincontainer-ele2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50%;
    }
    .did-you-know-container-maincontainer-img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .stories-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;
       
        height: auto;
        padding: 10rem;
    }
    .stories-container-heading {
        width:max-content;
        font-size: 1.2rem;
        text-align: center;
        height: 1.5rem;
        margin: auto;
        position: relative;
        transform: translate(-500%, -1400%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stories-container-img {
        height: 100%;
        width: 60%;
    }
    .stories-container-container {
        height: 40vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        transform: translate(20%, -20%);
    }
    .stories-container-button {
        position: relative;
        transform: translate(300%, -450%);
        width: 10%;
    }
    .lets-take-action-container {
        height: auto;
        padding: 5rem;
        padding-right: 10rem;
        padding-left: 20rem;
        height: auto;
    }
    .lets-take-action-container-mainheading {
        font-size: 60px;
        
    }
    .lets-take-action-container-element-img {
        height: auto;
        width: 40%;
        margin: auto;
    }
    .lets-take-action-container-ele {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: space-around;
        margin-bottom: 5rem;
        
    }
    .lets-take-action-container-element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 40%;
        margin: auto;
       
        height: auto;
    }
    .lets-take-action-container-element-heading {
        width:auto;
        font-size: 1.2rem;
        text-align: center;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .lets-take-action-container-element-heading1 {
        font-size: 3rem;
    
    }
    .lets-take-action-container-element-para {
        font-size: 1.2rem;
    }
    .lets-take-action-container-elebutton {
        height:auto;
        width: auto;
        border-radius: 3rem;
        border: none;
        position: relative; 
    }
    .order2 {
        order: 2;
    }
    .order1 {
        order: 1;
    }
    .subscribe-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10rem;
        padding-right: 10rem;
    }
    .subscribe-container-heading {
        width: 60%;
        font-size: 2rem;
    }
    .subscribe-container-input-button-elements {
        width: 70%;
    }
    .subscribe-container-input {
        width: 40%;
        height: 2rem;
        margin: left;
        border-radius: 1rem;
    }
    .subscribe-container-button {
        border-radius: 3rem;
        border: none;
        width: 20%;
        margin-left: 10px;
    }
    
    
    .footcontainer {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .footer-elements {
        width: 10%;
    }
} 
